<h2>All Groups</h2>

<% link_proc = proc { |params| groups_path params } -%>
<table>
  <tr>
    <!--
    <th>
      <%# link_to( '^', groups_path( :order => 'group.name', :direction => 'asc' ) ) %>
      Group Name
      <%# link_to( 'v', groups_path( :order => 'group.name', :direction => 'desc' ) ) %>
	  </th>
    -->
	  <th nowrap="true"><%= sortable_heading( 'Group Name', 'g_name', link_proc ) %></th>
    <th>Description</th> 
		<th nowrap="true"><%= sortable_heading( 'Location Name', 'loc_name', link_proc ) %></th>
		<th>Address</th>
		<th>Longitude (degs)</th>
		<th>Latitude (degs)</th>
		<th>Location Notes</th>
		<th>Edit Group</th>
		<th>Remove Group</th>
		<th>Edit Location</th>
  </tr>

	<%# render :partial => 'revenue', :collection => @groups %>

	

<% @groups.each do |group| %>
		<% group.locations.each do |loc| %>
			<tr>
				<td><%= group.name %></td>
				<td><%= group.description %></td>
				<td><%= loc.name %></td>
			  <td><%= loc.address %></td>
			  <td><%= loc.longitude %></td>
			  <td><%= loc.latitude %></td>
			  <td><%= loc.notes %></td>
				<td><%= link_to 'Edit Group', edit_group_path(group) %></td>
				<td align="center"><%= button_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
			  <td><%= link_to 'Edit Location', edit_location_path(loc) %></td>
			</tr>
    <% end %>
<% end %>
</table>

<br />

<%= link_to 'New group', new_group_path %>
