<h1>Rubyholic groups</h1>

<table>
  <tr>
    <th>Group Name</th>
    <!-- <th>Description</th> -->
		<th>Location Name</th>
		<th>City</th>
		<th>Longitude (degs)</th>
		<th>Latitude (degs)</th>
		<th>Edit Group</th>
		<th>Remove Group</th>
		<th>Edit Location</th>
  </tr>
<% @groups.each do |group| %>
		<% group.locations.each do |loc| %>
			<tr>
				<td><%= group.name %></td>
				<!-- <td><%# group.description %></td> -->
				<td><%= loc.name %></td>
			  <td><%= loc.city %></td>
			  <td><%= loc.longitude %></td>
			  <td><%= loc.latitude %></td>
			  <td><%= link_to 'Edit Group', edit_group_path(group) %></td>
				<td align="center"><%= button_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
			  <td><%= link_to 'Edit Location', edit_location_path(loc) %></td>
			</tr>
    <% end %>
<% end %>


<br />

<%= link_to 'New group', new_group_path %>
