
<h3>Search for meetup location nearby you:</h2>
<% form_tag({:action => 'index'}, :method => 'get') do |f| %>
  <span>
    <%= label_tag "address to search: " %><br />
    <%= text_field_tag :q, h(params[:q]), :size => 70 %>
  </span>
  <span>within</span>
  <span>
	<%= select_tag :miles, 
		"<option>5</option>
		 <option>10</option>
		 <option>20</option>
		 <option>50</option>
		 <option>100</option>"%>
  </span>
  <span> miles</span>
  <span><%= submit_tag "Search" %></span>
<% end %>


<h2>Listing locations</h2>
	<% if (params[:miles] == "" && params[:q] == "")%>
	  <p>Type in address above to view locations near you.</p>
	<% else %>
	  <p>Ruby meetups within <b><%= params[:miles] %></b> miles of '<b><%= params[:q] %></b>'</p>
	<% end %>
<table>
  <tr>
    <th>Name</th>
		<th>Address</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Notes</th>
  </tr>

<% for location in @locations %>
  <tr>
    <td><%=h location.name %></td>
		<td><%=h location.address %></td>
    <td><%=h location.lng %></td>
    <td><%=h location.lat %></td>
    <td><%=h location.notes %></td>
		<td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

Didn't find what you were looking for?&nbsp;<%= link_to 'Create new location', new_location_path %>
